body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: #2e354f;
    font-size: 18px;
}
.container{
     width: 620px;
}

header,
section {
    padding: 25px 50px;
    
}

header{
    background-color: #2e354f;
}

h1{
    color: #fff;
    font-size: 36px;
}

h2{
    color: #ef5839;
    font-size: 24px;
}

.section-two{
    background-color: #2e354f;
    color: #fff
}

a{
    color: #ef5839;
}

a:hover{
    color: #7a30c2;
}

.btn{
    display: inline-block;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 5px
}

.btn-white{
    color: #000;
    background-color: #fff;
}

.btn-white:hover{
    color: #fff;
    background-color: #ef5839;
}

.btn-orange{
    color: #fff;
    background-color: #ef5839;
}

.btn-orange:hover{
    color: #000;
    background-color: #fff;
}
